h1{
    border: solid;
    color: blue;
font-size:50px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
border-width: 20px;
}
div{
    color:blue;
    font-size: 30px;
    border: double;
}

span{
    color:rgb(86, 226, 43)
    background-color:brown
}
.Paragraph-1{
    color:green
}
.Paragraph-2{
    color: orange
    
}
