*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-size: 1.5rem;
    background-color: white;
    font-family: roboto sans-serif;
    height: 400px;
  
    color: rgb(110, 108, 105);
    line-height: 1.6;

}


header{
    text-align: center;
    background-color: rgb(4, 8, 230);
    padding: 20px;
    color: aliceblue;
 
}



 .Product-Container{
min-height: 600px;
display: grid;
grid-template-columns: 1fr 1fr ;
grid-template-columns: repeat(auto-fit,mimax(200px fr));
gap: 20px;
border: 2px solid rgb(255, 242, 242);
border-radius: 20px;
box-shadow: 0  4px rgb(0 0,1);

align-content: center;
max-width: 1000px;
margin: 150px;
 }
    .titel{
        background-color: rgb(255, 255, 255);
        color: rgb(71, 71, 71);
        box-shadow: 6 rgb(0, 0, 1);

    }
    .price{
        background-color: rgb(162, 170, 170);
        color: rgb(51, 53, 53);
       border-radius: 30px
    }
    .btn{
        font-size: 1.3rem;
        background-color:rgb(176, 180, 180);
        border-radius: 30px;
        text-align: center;
        font-family: roboto;
    }

