h1{
    color:rgb(245, 236, 236);
    text-align: center;
    text-transform:uppercase;
font-size: 50px;
border: solid;
background-color: red;
text-overflow: ellipsis;
text-rendering: initial;
text-shadow: 20px 5px;
    
}
.head2
{
    color:rgb(238, 238, 246);
    text-transform: uppercase;
    text-shadow: 1;
    border: solid;
    font-size: 50px;
    background-color: rgb(69, 9, 221);
    text-decoration-thickness: ;
}
,.h3{
    color: black;
    background-color: blanchedalmond;

}