div{
    border: solid;
    color: rgb(28, 13, 231);
    font-size: 20px;
    background-color: rgb(241, 141, 17);
    padding: 20px 10px;
    display: inline-block;
    height: 250px;
    width: 250;
    margin:20px
    border:solid; red
    

}